/* Write your CSS here */
.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-bg {
  background-color: #000000;
}

.image {
  height: 150px;
}

.heading {
  font-family: 'Roboto';
  font-size: 38px;
  color: #171f46;
}

.light-heading {
  color: #ffffff;
}
